[{:meta :meta-abstruct,
  :info
  {:updated-date "20140213141302",
   :article_id 5036841,
   :article_title "日影(閃乱カグラ)",
   :article_title_yomi "ヒカゲ",
   :article_category "単語",
   :article_date "20130201211901"},
  :content
  [[:p "日影、悪の定めに舞い殉じる"]
   [:p
    "日影とは、ニンテンドー3DS用ソフト『閃乱カグラ−少女達の真影−』に登場する敵キャラクターである。続編の閃乱カグラBurst-紅蓮の少女達-では使用キャラとして登場。"]
   [:p "（CV：白石涼子）"]],
  :children []}
 {:name "概要",
  :meta :h2,
  :content
  [[:html
    "<table><tbody><tr><th>誕生日</th><td>9月9日</td></tr><tr><th>年齢</th><td>17歳</td></tr><tr><th>血液型</th><td>O型</td></tr><tr><th>身長</th><td>160cm</td></tr><tr><th>スリーサイズ</th><td>B85/W57/H85</td></tr><tr><th>趣味</th><td>無し</td></tr><tr><th>好物</th><td>無し</td></tr></tbody></table>"]
   [:p "秘立蛇女子学院の3年生。上忍。関西弁で喋る。「日陰」では無い。"]
   [:p
    "無表情で口数も少なく、普段は何を考えているのかわからない。本人いわく感情が無く任務も冷徹に機械のようにこなしていく。趣味も好物も無し。秘伝忍法の「ぶっさし」「ぶっかけ」「ぶっちぎり」からも察して貰える通り技名もとてつもなくテキトーである。"]
   [:p
    "小さいころから感情が無く施設の子供たちにもからかわれていたらしい（詳しくは閃乱カグラBurst-紅蓮の少女達-をプレーしていただきたい）のだが蛇女選抜メンバーとの交流やライバルの葛城と戦いを経て徐々に感情へ興味を示していく。更衣室では口を横に引っ張り笑顔を作るしぐさも見せるなにこれかわいい。"]
   [:p
    "登場初期から某ゲームの某ドＳによく似ていると言われており、pixivにもカップやきそば現象タグの付く絵がちらほら投下されている。そのため彼女の登場シーンには十中八九そのキャラの名前が囁かれる。もちろんこの名前をしつこく連呼すると「これだから●●厨は・・・」と言われる可能性が高いのでUSC発言は節度を持って行うように。いいね？。"]
   [:p "ナイフを舐めるのが癖・・・というか舌がやたらと長く描かれることが多い。選抜メンバーで一番ヘビっぽい女"]
   [:p
    "ゲームでの性能は守備よりなステータス・・・なのだが体力が３０％を切ると「狂乱モード」が発動し一転攻撃寄りの型になる。閃乱カグラの強敵は基本的に命駆で殴れば瞬殺できるケースが多いが、日影に限っては狂乱モード突入後に逆に瞬殺される事も多々あるので要注意。もっとも狂乱が発動したら防御が紙になるので秘伝忍法を使えば即決着も有り得るのだが"]
   [:p "背が高い印象を受けるが雲雀（と詠）と同身長（160cm）。参考までに葛城は165cmである。"]
   [:p "詠さんのもやしトーク仲間。葛城よりも詠と描かれる方が多い印象。"]
   [:p "その口癖から一部では「せやなさん」と呼ばれている。"]],
  :children []}
 {:name "アニメでの日影",
  :meta :h2,
  :content
  [[:p "ＯＰや一話から既にちょこちょことは出ていたが本編に本格的に登場したのは第4話「臨海修行・忍島」から。"]
   [:p "ゲームと違い忍装束が破れジーンズではなくなっているがそんな事はどうでもいいんだ。重要なことじゃない。"]
   [:p "問題のシーンは今回のＥＤに流れた「闇夜は乙女を花にする」のパート"]
   [:p "そこには"]
   [:p "ナイフとフォークを持ち料理を楽しみに待ち"]
   [:p "出来上がった料理を目の前に喜び"]
   [:p "料理の味に怒り哀しむ"]
   [:p "日影の姿があった"]
   [:p "日影さん感情ありますよｎ（ｒｙ"]],
  :children []}
 {:name "結局感情の有無はいかに",
  :meta :h2,
  :content
  [[:p
    "真影・紅蓮の会話パートを見る限り確かに感情は無いように思える・・・が、狂乱モードになると嬉々として敵をSATUGAIしにかかってる（技名からもビンビン感じられる）のでやはり感情は有るけど疎いだけ・・・という気もする。とりあえず紅蓮５章の葛城戦で皆泣けばいいと思うぜ"]
   [:p "が、証明の公式サイトのキャラクター紹介に大草原不可避なサンプルボイスが投下されてしまった"]
   [:p "この人絶対感情あるわ（ｒｙ"]
   [:p "？？「ないで」"]
   [:p
    "ちなみに一迅社出版の「閃乱カグラ-紅蓮の蛇-」（画：あおいまなぶ）ではカバー裏にて「お前やっぱ感情あるだろ」とばかりにフリーダムな日影（とその他選抜メンバー）が描かれている。"]],
  :children []}
 {:name "関連動画", :meta :h2, :content [], :children []}
 {:name "関連静画", :meta :h2, :content [[:p "誰かがやると思ったもの"]], :children []}
 {:name "関連商品", :meta :h2, :content [], :children []}
 {:name "関連項目",
  :meta :h2,
  :content
  [[:list
    ("閃乱カグラ")
    ("閃乱カグラ−少女達の真影−")
    ("閃乱カグラBurst-紅蓮の少女達-")
    ("せやな")
    ("守りたい、この笑顔")
    ("ﾏﾓﾚﾅｶｯﾀ")
    ("風見幽香")]],
  :children []}]
