[{:name nil,
  :meta :meta-abstruct,
  :info {:id 4829117, :date "20140202135908"},
  :content [[:p "ニチアサキッズタイムとはテレビ朝日系列日曜朝7:00～9:00の枠の愛称である。"]],
  :children []}
 {:name "概要",
  :meta :h2,
  :content
  [[:p
    "毎週日曜日の朝に放送されている小学生以下をメインターゲットとする4番組枠の愛称として、2007年に命名された。編成内容は以下の通り。"]
   [:table
    [:tbody
     [:tr [:td "時間帯"] [:td "シリーズ"] [:td "現在放送中"]]
     [:tr
      [:td "7:00～7:30"]
      [:td "バトルスピリッツシリーズ"]
      [:td "最強銀河究極ゼロ〜バトルスピリッツ〜"]]
     [:tr [:td "7:30～8:00"] [:td "スーパー戦隊シリーズ"] [:td "獣電戦隊キョウリュウジャー"]]
     [:tr [:td "8:00～8:30"] [:td "平成仮面ライダーシリーズ"] [:td "仮面ライダー鎧武"]]
     [:tr [:td "8:30～9:00"] [:td "プリキュアシリーズ"] [:td "ハピネスチャージプリキュア！"]]]]
   [:p "※地域によっては放送時間が異なったり、他系列局で放送されている場合もある。"]
   [:p
    "このうち戦隊～ライダーの1時間枠は、すでに2003年9月からスーパーヒーロータイムとして設定されており、ニチアサキッズタイム誕生後も継続している。このため、枠内にさらに枠が存在するというやや特殊な状況となっている。また、これにプリキュアを加えた3番組は、いずれも東映系列の制作ということもあって続けて視聴する人も多く、合同でのショーやイベントが開催されることもある。"]
   [:p
    "現在、バンダイは4番組全てにメインスポンサーとしてついている。このため、スーパーバンダイ販促タイムと呼ぶこともできる時間帯である。玩具売上については、戦隊・プリキュアは概ね100億円をボーダーラインとしており、これに届かなかった場合は商業的失敗と見なされることが多い。ライダーもかつては100億超えが目安であったが、仮面ライダーW以降のいわゆる第2期平成ライダーは200億円を軽く超えており、ガンダムシリーズをも抜いてバンダイのトイホビー事業のトップに立った。バトルスピリッツは他の3作品に比べると売上は低いが、カードゲームアニメとしては十分な成功を収めており、売上は年々増加している。"]
   [:p
    "毎年11月の第1週は、全日本大学駅伝中継のためライダーとプリキュアは放送を休止。6月の第3週は全米オープンゴルフ中継のため4番組全てが放送休止になる。他にも、年末年始やオリンピック開催時には特番が入ることも多いため、1年間の放送であっても話数が50話に届かない場合も多い。さらに、朝日放送のみ夏の甲子園中継が関西ローカルで放送されているため、朝8時以降に放送される「ライダー」「プリキュア」は休止に追い込まれ、平日朝の時間帯に遅れネットされている。特に「プリキュア」はABC製作番組にもかかわらずこのような扱いを受けている。"]
   [:p
    "年に数回ニチアサキッズ合体スペシャルと称し、4番組合同でのプレゼント企画などが行われていたが、2010年を最後に行われていない。そもそも2011年からは6:30～7:00の時間帯にもアニメ枠が設置されたので、ニチアサキッズタイムの定義自体曖昧になりつつある。"]
   [:p
    "2013年8月25日放送分では全番組を休止し、初のテレビ朝日系フルネット局同時ネットで戦隊・ライダーシリーズとプリキュアシリーズの映画が放送された。"]],
  :children []}
 {:name "各時間帯の歴史",
  :meta :h2,
  :content [],
  :children
  [{:name "8:30～9:00",
    :meta :h3,
    :content
    [[:p
      "最も歴史の古い枠。1984年、開始当初は土曜夜19時に放送されていたとんがり帽子のメモルが、第31話よりこの時間に移動した。途中、ビックリマン、まじかる☆タルるートくん、GS美神など男児・少年向け作品が放送されていた時期もあったが、1994年のママレード・ボーイからは現在のような少女・女児向けアニメで固定された。1999年のおジャ魔女どれみより原作者が東堂いづみ名義の東映アニメーションオリジナル作品となり、2004年よりプリキュアシリーズがスタートした。全てABC（朝日放送）・東映アニメーションの製作。"]
     [:p
      "蛇足だが、1979年4月から1980年3月までは、この枠で「ドラえもん」の総集編（開始当初は平日夕方に10分帯番組として放送されていたため、この時間に30分番組として再構成された）が放送された実績がある。"]]}
   {:name "8:00～8:30",
    :meta :h3,
    :content
    [[:p
      "かつて日曜の9:30に放送されていた機動刑事ジバン（1989年）が、第10話より繰り上げられる形でこの時間帯に変更。そして1998年のテツワン探偵ロボタックまでメタルヒーローシリーズが継続。1999年の燃えろ!ロボコンを経て、2000年の仮面ライダークウガより平成仮面ライダーシリーズの歴史が始まった。"]]}
   {:name "7:30～8:00",
    :meta :h3,
    :content
    [[:p
      "1997年に、それまで金曜の17:30放送だった電磁戦隊メガレンジャーがこの時間帯に移動した。金曜ﾄﾊｵｻﾗﾊﾞｯｯｻｰ!これにより、現在のスーパーヒーロータイムのフォーマットが完成。以降、現在に至るまでスーパー戦隊シリーズが続いている（枠の誕生以来同じシリーズが継続しているのは4枠の中で唯一）。"]]}
   {:name "7:00～7:30",
    :meta :h3,
    :content
    [[:p
      "1998年に、勇者シリーズの後番組として土曜の17:00に放送されていたBビーダマン爆外伝がこの時間帯に移動したのが始まり。故に4枠の中では最も歴史が浅い。2年単位でシリーズが切り替わることが多かったが、2008年からは一貫してバトルスピリッツが放送されている。"]
     [:p
      "移動前の勇者シリーズと同様に、全てメ～テレ（名古屋テレビ放送）の製作。同じく、ほとんどの作品においてサンライズがアニメーション制作を担当している。"]]}]}
 {:name "関連項目",
  :meta :h2,
  :content
  [[:list
    ("テレビ朝日" [:list ("朝日放送") ("名古屋テレビ")])
    ("バンダイ")
    ("バトルスピリッツ")
    ("スーパーヒーロータイム" [:list ("スーパー戦隊シリーズ") ("平成ライダー")])
    ("プリキュア")]],
  :children []}]
