[{:name nil,
  :meta :meta-abstruct,
  :info {:id 400000, :date 201400000},
  :content
  [[:p "ランディ・オルランドとは、『英雄伝説零の軌跡』及び『同碧の軌跡』のキャラクターである。" "CV:三木眞一郎"]],
  :children []}
 {:name "概要",
  :meta :h2,
  :content
  [[:p
    "21歳・男性"
    "趣味はナンパとグラビア雑誌鑑賞。軟派で軽い性格だが、年上ならではの面倒見の良さや頼もしさや、さりげないフォローなど気配りも出来る。"
    "元々はクロスベル警備隊に所属していたが、女グセが悪く素行不良でクビになりかけたところを特務支援課を設立したセルゲイに拾われる。警備隊員としての実力は優秀であったためか、ノエルを初めとした隊員たちの間で名が知れ渡っていた。また警備隊時代の同僚とは仲が良く、ベルガード門に行くと友好的に迎えてくれる。"
    "ノエル以外にも警備隊にミレイユ少尉という"
    "嫁"
    "元同僚がいる。"
    "ランディとのやり取りを微笑ましいとエリィに言われたりするなど、かなり仲が良い。"
    "お互いの性格上、落ち着くところまで落ち着くのは時間がかかりそうだが。"
    " ニコニコ動画では兄貴然とした所から名前のランディを掛け合わせてラニキと呼ばれている。"]
   [:p "以下、ネタバレ注意"]
   [:p
    "本名はランドルフ・オルランド。大陸西部最強の猟兵団≪赤い星座≫の部隊長で「赤い死神」「闘神の息子」の二つ名で呼ばれていた。幼少より猟兵としての特訓を受け戦場を駆け回った。"
    "ある事情で猟兵団を抜け出し流れに流れてクロスベルへたどり着き警備隊に入隊する。しかし訓練で本来の得物であるライフル使用を拒否したことが原因で警備隊司令の怒りに触れ、クビになりかけた所を副司令のソーニャの口添えで特務支援課に異動した。"
    "そういった経緯をみることなく振る舞ってはいたが、3章の市街地レースでその片鱗を出してしまい、3章終盤の対ガルシア時にはその正体を特務支援課メンバーにバラされてしまう。"
    "碧の軌跡では赤い星座が絡む関係上、彼の過去の経緯がメインに絡む事が多く、また捜査一課のダドリーから赤い星座の意向についてランディに確認をとったりする場面が幾つかある。"
    "ランディのみその力を発動したクラフトを取得・強化した時のボイスが違うという演出がある。"]],
  :children []}
 {:name "キャラクター性能",
  :meta :h2,
  :content
  [[:h3 "零の軌跡"]
   [:p
    "ステータス面ではHPとATKが高くSPDが低い典型的なアタッカー。ただしMOVは特務支援課の中では最高（市街地レースにおけるロイドの台詞「脚はランディの方が速いだろ？」はこのステータスを受けての物）。"
    "オーブメントの属性は火。中央スロットのみ制限あり。ラインが3本に分散していることもありアーツは苦手だが、火のクォーツを組むことが多いので最強アーツであるクリムゾンレイも頑張れば使える。"]
   [:p
    "クラフトは便利な技が揃っており、パワースマッシュのATディレイやクラッシュボムの暗闇化で中盤までは多くの敵に有利に戦闘を行える。特に今作は攻撃を回避するとカウンターで反撃ができるのが仕様であるため有効活用していきたい。"
    "加えて、前作のアガットと同様HP消費でCPを回復するウォークライを持つ。ただしSC、3rdのバッファローレイジ2ほどの回復量は無い（逆に言えば、そこまでHPは消費しない）。"
    "またロイドとのコンビクラフト「バーニングレイジ」の威力も高く、IIに強化されると物理攻撃では最強の技となる。"]
   [:h3 "碧の軌跡"]
   [:p
    "前作の各種クラフト等の優秀さが際だっていたためか、全体的に下方修正が加えられた。特にパワースマッシュのATディレイは大幅弱体化し、以前の様にずっと俺のターン！がやりづらくなってしまった。"
    "ただしLvアップによる強化が加わるとパワースマッシュのATディレイ以外は前作水準にまで戻る。ウォークライはIIになるとCP+150になるが消費HPが70%に増加するため、かつてのアガットの様な「うぉぉぉぉ！だぁぁぁ！！」→「マジかよ…」という事になりかねない。そのためエリィのホーリーバレットやダドリーの愛の鉄拳とは回復量の関係もあって若干相性が悪くなってしまった。"
    "そして今回Sクラフトにかつての得物を使ったベルゼルガーが追加。範囲・威力とも申し分なく、ヒット数も多いためセピス稼ぎも兼ねた優秀なSクラフトとなる。"]
   [:p
    "以前の最強コンビクラフト、バーニングレイジは流石に修正を受け以前の様な突飛した性能ではなくなった。更に同クラスのコンビクラフトを持つ高STR・SPDのリーシャ、高STR・銃使用のダドリーがいるためPT編成の考慮や役割分担が必要となった。"
    "またラスボスの仕様上、その高すぎるダメージが逆に仇になることもある。"]
   [:p "どうでもいいが一部コンビクラフト時のボイスが何故か甲高くなったりする。"]],
  :children []}
 {:name "関連動画",
  :meta :h2,
  :content [[:p] [:p] [:p "問題のそのコンビクラフト時のボイス(15:25～、16:18～)"]],
  :children []}
 {:name "関連商品", :meta :h2, :content [[:p] [:p]], :children []}
 {:name "関連項目",
  :meta :h2,
  :content
  [[:ul
    [:li "英雄伝説"]
    [:li "軌跡シリーズ"]
    [:li "零の軌跡/碧の軌跡"]
    [:li "特務支援課"]
    [:li "シャーリィ・オルランド"]
    [:li "シグムント・オルランド"]
    [:li "赤い星座"]
    [:li "intensechase"]]],
  :children []}]
